--- output/build/linux-5.10/arch/m68k/Kconfig.cpu	2020-12-13 23:41:30.000000000 +0100
+++ changed_files/linux-3.x/arch/m68k/Kconfig.cpu	2020-12-15 17:04:15.563696026 +0100
@@ -28,7 +28,7 @@
 	select CPU_HAS_NO_MULDIV64
 	select GENERIC_CSUM
 	select GPIOLIB
-	select HAVE_LEGACY_CLK
+	select HAVE_CLK
 
 endchoice
 
@@ -159,6 +159,14 @@
 	help
 	   Freescale Coldfire 5207/5208 processor support.
 
+config KSCF52xx
+  bool "KSCF52xx"
+  depends on !MMU
+  select GENERIC_CLOCKEVENTS
+  select HAVE_CACHE_SPLIT
+  help
+    University of Kassel 1oo2 Safety SoC based on CFv2SPP5208.
+
 config M523x
 	bool "MCF523x"
 	depends on !MMU
@@ -343,7 +351,7 @@
 config ADVANCED
 	bool "Advanced configuration options"
 	depends on MMU
-	help
+	---help---
 	  This gives you access to some advanced options for the CPU. The
 	  defaults should be fine for most users, but these options may make
 	  it possible for you to improve performance somewhat if you know what
@@ -358,7 +366,7 @@
 config RMW_INSNS
 	bool "Use read-modify-write instructions"
 	depends on ADVANCED
-	help
+	---help---
 	  This allows to use certain instructions that work with indivisible
 	  read-modify-write bus cycles. While this is faster than the
 	  workaround of disabling interrupts, it can conflict with DMA
@@ -386,7 +394,7 @@
 config 060_WRITETHROUGH
 	bool "Use write-through caching for 68060 supervisor accesses"
 	depends on ADVANCED && M68060
-	help
+	---help---
 	  The 68060 generally uses copyback caching of recently accessed data.
 	  Copyback caching means that memory writes will be held in an on-chip
 	  cache and only written back to memory some time later.  Saying Y
