--- /home/misterdulister/Coding/buildroot_kscf52r2/output/build/linux-5.4.45/arch/m68k/Kconfig.cpu	2020-06-07 13:18:52.000000000 +0200
+++ /home/misterdulister/Coding/buildroot_kscf52r2/changed_files/linux-3.x/arch/m68k/Kconfig.cpu	2021-01-26 11:04:59.232196312 +0100
@@ -159,6 +159,14 @@
 	help
 	   Freescale Coldfire 5207/5208 processor support.
 
+config KSCF52xx
+  bool "KSCF52xx"
+  depends on !MMU
+  select GENERIC_CLOCKEVENTS
+  select HAVE_CACHE_SPLIT
+  help
+    University of Kassel 1oo2 Safety SoC based on CFv2SPP5208.
+
 config M523x
 	bool "MCF523x"
 	depends on !MMU
